// @import 'https://fonts.googleapis.com/css?family=Signika:300,600';

$body-font: 'Signika';
$primary: #329f9f;
$primary-text: #FEFEFE;
$secondary: #226096;
$secondary-text: $primary-text;

// $menu-height: 2.5rem;
$menu-height: 0;
$breakpoint: 800px;
$breakpoint-wide: 1200px;
$content-width: 700px;
$content-width-wide: 900px;

html,
body {
  height: 100%;
}

body {  
  font-family: $body-font;
  font-size: 18px;
  background: $primary;
  color: $primary-text;

  @media (min-width: $breakpoint) {
    // padding-top: $menu-height;
  }

  * + * {
    margin-top: 2em;
  }

  a {
    // text-decoration: none;
    color: $primary-text;
    transition: color 0.15s ease;

    &:hover {
      color: darken($primary-text, 7%);
    }
  }

  a.button {
    display: inline-block;
    text-decoration: none;
    border: solid 1px currentcolor;
    border-radius: 25px;
    padding: 0.3em 1.5em;
    font-size: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    margin-top: 0;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }

  strong {
    text-shadow: 1px 2px 0px rgba(0,0,0,0.2);
  }

  section {
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
      width: 100%;

      @media (min-width: $breakpoint) {
        width: $content-width;
      }

      @media (min-width: $breakpoint-wide) {
        width: $content-width-wide;
      }

      *:first-of-type {
        margin-top: 0.5em; 
      }
    }

    h1 {
      font-size: 1.7em;
      text-shadow: 2px 3px 0px rgba(0,0,0,0.15);
    }

    &:first-child {
      margin-top: 0;
    }

    & + section {
      margin-top: 1em;
    }

    &:last-child {
      margin-bottom: 3em;
    }

  }
}

// div + div,
// div.item:first-child {
//   margin-top: 2em;
// }

div.menu {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  background: $primary-text;
  width: 100%;
  height: $menu-height;
  box-shadow: 0 -3px 0px rgba(0,0,0,0.1);

  a {
    color: $primary;
    transition: color 0.2s ease;

    &:hover,
    &:active,
    &:focus {
      color: darken($primary, 8%);
    }
  }

  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
  }

  li {
    margin: 0;
  }

  @media (min-width: $breakpoint) {
    box-shadow: 0 3px 0px rgba(0,0,0,0.1);
    bottom: none;
    top: 0;

    ul {
      width: $content-width;
      justify-content: space-between;
    }
  }

  @media (min-width: $breakpoint-wide) {
    ul {
      width: $content-width-wide;
    }
  }
}

section.hero {
  padding: 3em 1em;
  text-align: center;
  font-size: 1.7em;

  h1 {
    text-shadow: 2px 3px 0px rgba(0,0,0,0.2);
    line-height: 1.1em;
  }

  @media (min-width: $breakpoint) {
    text-align: left;
  }

  a.button {
    font-size: 0.7em;
    margin-top: 3em;
  }
}

.title-wrapper {
  position: relative;
}

.title-effect span {
  font-weight: bold;
  position: absolute;
  mix-blend-mode: screen;
  top: 0;
  left: 0;

  &:nth-child(1) {
    color: rgb(0,0,255);
    // top: -8px;
    // left: -8px;
  }

  &:nth-child(2) {
    color: rgb(255,0,0);
    // top: 8px;
    // left: 8px;
  }

  &:nth-child(3) {
    color: rgb(0,255,0);
  }
}

#manifesto .item-list {
  display: flex;
  flex-flow: row wrap;
  margin-top: 0;

  .item {
    margin-top: 2em;
    margin-right: 1em;

    @media (min-width: $breakpoint) {
      max-width: ($content-width / 2) - 20px;
    }

    @media (min-width: $breakpoint-wide) {
      max-width: ($content-width-wide / 2) - 20px;
    }
  }
}

#portfolio {
  .project + .project {  
    margin-top: 3em !important;
  }

  .project h2 {
    margin-top: 2em;
  }
}

.project img,
img.project {
  height: auto;
  width: auto;
  position: relative;
  max-width: 100%;
  border-radius: 3px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
  transition: all 0.2s ease;

  @media (min-width: $breakpoint) {
    box-shadow: 0px 15px 50px rgba(0,0,0,0.4);    

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 18px 50px rgba(0,0,0,0.4);
      filter: grayscale(30%);
    }
  }
}

.hide-desktop {
  @media (min-width: $breakpoint) {
    display: none;
  }
}

.show-desktop {
  display: none;

  @media (min-width: $breakpoint) {
    display: inline-block;
  }
}

body#project-view {
  background: $secondary;
  color: $primary-text;
  overflow-x: hidden;
  overflow-y: hidden;

  @media (min-width: $breakpoint) {
    overflow-x: auto;
    overflow-y: auto;
  }
}

body#project-view {
  section {
    margin-top: 0;
  }

  @media (min-width: $breakpoint) {
    h1 {
      margin-top: 2em;
    }
  }
}














